<%- include("../partials/header") %>
    <div class = "container d-grid gap-2 col-8 mx-auto">
        <br>
        <% if(department){ %>
            <div class="card" style="width: 60rem; display: inline-block;">
                <div class="card-header" style="font-size:xx-large; color: white; background-color: #636d75;">Department ID: <%=department['dept_id']%></div>
                <div class="card-body">
                    <h4 class="card-title">Department Name: <%=department['dept_name']%></h4>
                    <h4 class="card-title">Manager ID: <%=department['mgr_id']%></h4>
                    <h4 class="card-title">Manager Start Date: <%=department['mgr_start_date']%></h4>
                    <h4 class="card-title">Base Salary: INR <%=department['base_sal']%></h4>
                    <h4 class="card-title">Number of Employees: <%=department['number_of_emp']%></h4>
                    <h4 class="card-title">Current Projects:</h4>
                    <% if(projects){ %>
                        <% projects.forEach(project=>{ %>
                            <a href="/projects/<%=project['p_id']%>" type="button" class="btn btn-outline-primary">Project ID: <%=project['p_id']%></a>
                        <%});%>
                    <%}else{%>
                        <h3 class="card-title">None</h3>
                    <%}%>
                </div>
            </div>
        <%}else{%>
            <h1>No department with this ID</h1>
        <%}%>
    </div>
<%- include("../partials/footer") %>